<!-- Feature Section start -->
<section id="forBusiness" class="forBusiness" #forBusiness>
  <div class="container">
    <div class="row">
      <div class="offset-lg-4 col-lg-8">
        <div class="row">
          <div class="col-sm-12 mrgn-md-top">
            <h2 class="title right-title">for<span> Brick-and-Mortar Business</span></h2>
          </div>
          <div class="offset-md-4 col-md-6 sm-m-top">
            <ul class="feature-style">
              <li>
                <div class="feature-subtitle">
                  <h3>Create your own digital storefront</h3>
                  <h3>and let people find you on your terms</h3>
                </div>
                <div>
                  <p>Connect with your most important customers, the ones nearest you </p>
                </div>
                <div>
                  <p>Share announcements, promotions, events, and more without having to find friends or followers</p>
                </div>
              </li>
            </ul>
            <div class="top-margin">
              <button type="button" class="btn btn-custom theme-color theme-color">view more</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Section End -->


<!-- Feature Section start -->
<!-- <section id="forYouRight" class="forYouRight" #forBusiness>
  <div class="container">
    <div class="row">
      <div class="offset-lg-4 col-lg-8">
        <div class="row">
          <div class="col-sm-12 mrgn-md-top">
            <h2 class="title right-title">for<span> Brick-and-Mortar Business</span></h2>
          </div>
          <div class="offset-md-6 col-md-6 sm-m-top">
            <ul class="feature-style">
              <li> -->
<!-- <div class="feature-icon">
                  <img src="assets/images/icon/2.png" alt="icon">
                </div> -->
<!-- <div class="feature-subtitle">
                  <h3>Reach Your Customers</h3>
                </div>
                <div>
                  <p>Connect with your most important customers, the ones nearest you </p>
                </div>
              </li>
              <li> -->
<!-- <div class="feature-icon">
                  <img src="assets/images/icon/4.png" alt="icon">
                </div> -->
<!-- <div class="feature-subtitle">
                  <h3>Social Media Without</h3>
                </div>
                <div>
                  <p>Automatically reach the customers nearest you </p>
                </div>
              </li>
              <li> -->
<!-- <div class="feature-icon">
                  <img src="assets/images/icon/6.png" alt="icon">
                </div> -->
<!-- <div class="feature-subtitle">
                  <h3>Options</h3>
                </div>
                <div>
                  <p>Messages, Photos, and more. Create your own digital storefront </p>
                </div>
              </li>
            </ul>
            <div class="top-margin">
              <button type="button" class="btn btn-custom theme-color theme-color">view more</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
