<app-header-plazm></app-header-plazm>
<app-intro-plazm></app-intro-plazm>
<app-about-plazm></app-about-plazm>
<app-for-mobile></app-for-mobile>
<app-for-business></app-for-business>
<app-for-curator></app-for-curator>
<app-blog-banner-plazm></app-blog-banner-plazm>
<app-contact-us></app-contact-us>
<!-- <app-newsletter></app-newsletter> -->
<app-footer-plazm></app-footer-plazm>



<!-- <app-screenshot></app-screenshot> -->
<!-- <app-team></app-team> -->
<!-- <app-price></app-price> -->
<!-- <app-testimonial></app-testimonial> -->
