<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="title text-center md-margin-top"> learn more on <span><a [routerLink]="'/blog/list'">Plazm
              blog</a></span></h2>
        <!-- <button type="button" class="btn btn-custom theme-color theme-color">view more</button> -->
      </div>
    </div>
  </div>
</section>


<!-- <h2 class="title text-center md-margin-top"> learn more on <span><a class="nav-link" [routerLink]="'/blog/list'"
    [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">our blog</a></span></h2> -->
