<!-- About Start -->

<section id="about" class="about" #about>
  <div class="container">
    <div class="row ">
      <div class="col-lg-10 offset-lg-1">
        <div>
          <div>
            <h1><span>Local Discovery</span></h1>
          </div>
          <div>
            <h1><span>and Communication Tools</span></h1>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row ">
      <div class="col-md-10 offset-md-1">
        <h2> <span>Local Discovery and Communication Tools</span></h2>
      </div>
    </div> -->
    <div class="row ">
      <div class="col-md-10 offset-md-1">
        <h2> <span>for 3 types of Users</span></h2>
        <div class="row top-buffer">
          <div class="col-sm-4">
            <h2> <span>mobile consumers</span></h2>
          </div>
          <div class="col-sm-4">
            <h2> <span>brick-and-mortar businesses</span></h2>
          </div>
          <div class="col-sm-4">
            <h2> <span>local knowledge experts</span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
