<section>
  <div class="container">
    <!-- <a [routerLink]="'/blog/details'"> -->
    <h3 class="blog-head">Beyond Remote and Asynchronous </h3>
    <!-- </a> -->
    <div class="blog-divider"></div>
    <div class="blog-description">
      <p>Our most dominant consumer software protocols are predominantly remote and asynchronous, and this property is
        ingrained in the way we think about the internet. From a broader historical sense, the internet is a natural
        culmination of the evolution of electronic communication which has continually eroded the obstacle of
        distance. This raw capacity is very attractive, and the protocols that leverage this extraordinary power will
        always be useful.</p>
      <p>The remote and asynchronous property was also sensible, even necessary, given the hardware constraints within
        which many of our most dominant protocols were developed. Consider that email, social media, and search all
        emerged in the mainframe or desktop era when people accessed the internet at physical destinations
        specifically outfitted with the necessary technical apparatus. Such conditions implied intermittent access
        from isolated locations. As such, remote and asynchronous properties were necessary to create user experiences
        that matched this mode of consumption. </p>
      <p>Perhaps the most effective way of achieving this was by delivering information that is contingent upon our
        identities or interests. Since these artifacts of the individual remain constant, information based on these
        aspects remains relevant regardless of where or when we access it. Most of our legacy protocols, from email to
        social media, use this approach, and thus remain agnostic to the spatial or temporal dimensions in which we
        use them. In sum, there is a congruence between the dominant mode of consumption via desktop computing and the
        dominant software structures designed to extract maximum utility from this model.</p>
      <p>Of course, the smartphone altered the mode of consumption dramatically. Instead of accessing the internet at
        intermittent times in isolated neutral settings, we are now connected continuously throughout our day, often
        in dynamic, public environments. But while the hardware and modes of consumption may have changed in a
        fundamental way, the dominant software protocols that we use to access our information haven’t changed as
        dramatically. Most of our communication by our mobile devices continues to be remote and asynchronous. </p>
      <p>This is also totally sensible. The mobile mode of consumption doesn’t affect the core logic of delivering
        information contingent on identities and agnostic to the spatial orientation of the user. In fact, these
        aspects are enhanced in mobile, as the mobile phone’s unique ownership to one individual strengthens the
        element of personalization, and the portability of these devices takes full advantage of a protocol’s remote
        properties. From this point of view, the form factor of the phone seems like a simple value add, giving us the
        convenience of being able to engage with our status updates, emails, and our social media feeds anywhere
        anytime. For some, this is where the conversation ends. For Plazm, it begins.</p>
      <p>Notice that while the portability of the phone works within the remote and asynchronous features, the remote
        and asynchronous features were not designed for the portability of the phone. It’s more accurate to say that
        the remote asynchronous properties of these software protocols neutralizes, rather than leverages the
        variability of circumstances inherent to mobile usage. It transposes a similar experience to the new form
        factor rather than creates a fundamentally new one. This situation recalls a recurring theme in the history of
        media and technology. As stated by Florent Crivello,</p>
      <div class="offset-lg-2 col-lg-8">
        <h5>“In the beginning, new form factors fit existing workflows. Then, workflows fit the new form factors”
        </h5>
      </div>
      <div class="margin-10"></div>
      <p>Of course, this leaves an opportunity to create new user experiences that leverage the unique properties of
        the new form factor, specifically the portability and constant access. More specifically, this implies
        shifting from a remote and asynchronous model to a local and contemporaneous one, and from organizing user
        experiences solely contingent on the user’s personal profile to ones that also account for the variable
        circumstances implied by the mobile mode of consumption. </p>
      <p>So what are we missing when we continue to use the remote and asynchronous features in the mode of mobile
        consumption? What does a truly differentiated commitment to a local and contemporaneous approach look like?
        Why would it be useful? How do you design such a system? What distinguishes Plazm from other attempts at
        location-based social networks?</p>
      <p>Over the course of the next few posts, I hope to elaborate on all these issues and more. By taking a
        principles first approach, I hope to explain how to make a protocol tailored to the new dimensionality of the
        mobile internet in a way yet unrealized in the mobile consumer landscape.</p>
    </div>
    <h3 class="blog-head">Social Media's Blind Spot </h3>
    <!-- </a> -->
    <div class="blog-divider"></div>
    <div class="blog-description">
      <p>As mentioned above, one of the key features of the Legacy information protocols is the degree to which the
        information they deliver are contingent on the user’s identity or personal interests, and how this contributes
        to the spatial and temporal agnosticism of these protocols. One of plazm’s core thesis is that while this
        agnosticism serves the remote and asynchronous model of communication, it is incompatible with the local and
        contemporaneous model. To illustrate this dynamic and explore its implications, social media likely represents
        the best case study and is discussed here.</p>
      <p>As mentioned above, one of the key features of the Legacy information protocols is the degree to which the
        information they deliver are contingent on the user’s identity or personal interests, and how this contributes
        to the spatial and temporal agnosticism of these protocols. One of plazm’s core thesis is that while this
        agnosticism serves the remote and asynchronous model of communication, it is incompatible with the local and
        contemporaneous model. To illustrate this dynamic and explore its implications, social media likely represents
        the best case study and is discussed here.</p>
      <p>This shift from content to sources allows social media to deliver a greater range of information without having
        to consciously search for each discrete chunk of information that may emerge from the social graph naturally. As
        a result, we gain easy, instant access to a stream of novel information that we wouldn’t have had the awareness
        or the wherewithal to look up ourselves. Nevertheless, each of these sources must pass some threshold of
        psychological or mental or personal affinity for us to include them in our social graph in the first place.
        Naturally, these choices often reflect our interests, social connections, or other psycho-personal elements of
        the user.</p>
      <p>Furthermore, because the scope and shape of our personal affinity as represented by our interests, friends and
        personal tastes remain relatively constant, this model of relevance persists in practically any situation. For
        instance, if I’m interested in Cryptocurrency or the NBA and follow accounts that post about these subjects,
        each piece of content will remain at a similar level of relevance and interest. I bring my mind and personal
        affinity with me all the time, so my interest in these subjects are not dependent on where or when I am when I
        access that content. In other words, these protocols are agnostic to our circumstances, and form the basis for
        its remote and asynchronous communication model. It works incredibly well for the vast majority of our
        information and media consumption. But there is an exception.</p>
      <p>Information that is associated with or references a location represents a fundamental mismatch for the legacy
        remote and asynchronous models. Why? The relevance of local and contemporaneous content is more highly variable
        than information based upon conceptual or psychological affinity to the content creator. This variability is
        often correlated with proximity, so relevance is not agnostic to our physical circumstances, it actually depends
        on it. </p>
      <p>For instance, if I’m down the street thinking about what to eat, then information about the local cafe’s daily
        specials could be highly relevant and something I probably would like to know. But if I’m away on vacation, this
        information becomes very low relevance and low value. Compare this kind of information with content generated by
        an account that produces content relevant to my personal interests like the NBA. If I’m out of town or not
        travelling, the NBA account will remain more or less equally relevant to my life. Because our interest in this
        kind of information is so context-dependent, creators of local and contemporaneous information often do not pass
        the threshold for personal affinity and are thus never included in our social graphs in the first place. </p>
      <p>Furthermore, social media feeds are organized chronologically. As a result, local content is never delivered
        contextually along the dimension of proximity. So even if a user was following local content producers, there
        isn’t any guarantee to see this content in the situation where the information is useful. We are then delivered
        locally relevant content that isn’t actually locally relevant, which simply degrades the overall relevance of
        our feeds.</p>
      <p>Consider a few examples of local content-the daily specials for a nearby restaurant, showtimes and reviews for
        a show that’s playing across the street, train arrival times at the nearest subway stations, a free yoga class
        at the local park. How would we find out or access this information? We either follow any account that generates
        this information such as the restaurant or theater itself, or accounts that publish movie reviews, or subway
        times, or free classes in the city. But then we would have to deal with these updates throughout the day in
        non-relevant contexts. Do we keep these accounts for the off-chance they tell us something when we want to hear
        from them?</p>
      <p>Alternatively, we could have to have a way to search for each piece a la carte. This method requires awareness
        that there’s something worthwhile to search for in the first place. But of course this is precisely social
        media’s function in the first place, to replace the need to search with a constant stream of information
        relevant to us.</p>
      <p>To put it simply, the same features that make these legacy protocols so useful in a remote and asynchronous
        context also preclude them from delivering locally relevant information in anything but a compromised, indirect,
        and inefficient way. The more local, the more incompatible this information. This structural gap represents an
        opportunity to forge a new system that can fill this need. How we build that vision is the subject of the next
        few posts.</p>
    </div>
  </div>
</section>
