<div class="container">





  <div class="col-lg-8">
    <h1>Why Plazm</h1>
  </div>

  <div class="row ">
    <div class="col-md-4 col-lg-3 order-md-first list-sidebar">
      <div class="sidebar">
        <div class="sidebar-space">
          <h4 class="blog-title">Table of Contents</h4>
          <div class="blog-cat-detail">
            <ul>
              <li class="marg-15">
                <a [routerLink]="'/blog/details'">
                  <i class="fa fa-angle-right" aria-hidden="true"></i> Introduction
                </a>
              </li>
              <li class="marg-15">
                <a [routerLink]="'/blog/details'">
                  <i class="fa fa-angle-right" aria-hidden="true"></i> The Building Blocks
                </a>
              </li>
              <li class="marg-15">
                <a [routerLink]="'/blog/details'">
                  <i class="fa fa-angle-right" aria-hidden="true"></i> Usage
                </a>
              </li>
              <li class="marg-15">
                <a [routerLink]="'/blog/details'">
                  <i class="fa fa-angle-right" aria-hidden="true"></i> Visualizations
                </a>
              </li>
              <li class="marg-15">
                <a [routerLink]="'/blog/details'">
                  <i class="fa fa-angle-right" aria-hidden="true"></i> Now and the Future
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-8 col-lg-9">
      <app-manifesto-intro></app-manifesto-intro>
    </div>

  </div>
</div>
